<!doctype html>
<html ng-app="myApp">
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    	<script src="myApp.js"></script>
	</head>

	<body>
		<div ng-controller="myCtrl">
			
			<div ng-show="showLogin">
				<h1>LOGIN</h1>
			 	Login: <input type="text" ng-model="user.name" /><br/>
			 	Password: <input type="text" ng-model="user.password" /><br/>				
				<button ng-click="login()">Login</button><br />
				<p>
					<small>
						<strong>Admin</strong><br/>					
						login: admin<br/>
						Password: admin<br/>
					</small>
				</p>
				
				<p>
					<small>
						<strong>User</strong><br/>					
						login: user<br/>
						Password: user<br/>
					</small>
				</p>
				
			</div>
			
			<div>
				<h1>GREETING</h1>
				<p>Data: <input type="text" ng-model="txt"/></p>						
				<button ng-click="call('greeting')">[Insecure] http://localhost:8080/greeting?name=...</button><br/>
				<button ng-click="call('secureGreeting')">[Auth required] http://localhost:8080/secureGreeting?name=...</button><br/>
				<button ng-click="call('adminGreeting')">[Admin required] http://localhost:8080/adminGreeting?name=...</button><br/>				
				<button ng-click="call('principalGreeting')">[Data = principal] http://localhost:8080/principalGreeting?name=...</button><br/>
				<p>The ID is {{greeting.id}}</p>
				<p>The content is {{greeting.content}}</p>				
				<button ng-hide="showLogin" ng-click="logout()">Logout</button><br/>				
			</div>
		</div>
	</body>
</html>
